/*Reset*/
*,
* ::before,
* ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* list-style: none; */
}

/*Root variables*/
:root {
  --color-primary: #ff6722;
  --color-secondary-dark: #ffa589;
  --color-secondary-light: #fff6f2;
  --color-navbar: #f8f8f8;
  --color-heading: #000;
  --color-body: #333333;
  --color-white: #fff;
}

/*To make each rem - 10px for easier usage of rem later on*/
html {
  font-size: 62.5%;
  /* font-family: sans-serif; */
}

body {
  color: var(--color-body);
  font-size: 1.4rem;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

/*Buttons*/

.btn {
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  margin: 1rem 0;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--secondary {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }

  .btn--block {
    font-size: 2rem;
  }
}

/*Badges*/
.badge {
  display: inline-block;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-white);
  border-radius: 32px;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

/*Lists*/

.list {
  list-style: none;
  font-size: 1.6rem;
  margin-bottom: 10rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* .list--tick .list__item::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(/assets/images/Tick-Square.svg) no-repeat;
  padding-left: 2rem;
} */

.list--tick .list__item {
  background: url(/assets/images/Tick-Square.svg) no-repeat;
  margin-bottom: 1.5rem;
  padding-left: 2.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

/*Plans*/

.block_plan {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 8rem 3rem;
  margin: 2rem auto;
  padding: 1rem;
}

.plan {
  max-width: 40rem;
  font-size: 1.8rem;
  transition: all 0.2s ease-in-out;
}

.plan:hover {
  transform: scale(1.05);
}

.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px #bfbbbb;
}

.card__header,
.card__body {
  padding: 3rem 2.2rem;
}

.card__body {
  background-color: var(--color-secondary-light);
}

.card__header {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.plan__intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.plan__price {
  font-size: 3rem;
}

.plan__billing-cycle {
  font-size: 1.2rem;
}

.plan__description {
  display: block;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}

.plan .btn--block {
  font-size: 1.6rem;
}

.container {
  max-width: 1140px;
  /*align-items: center;*/
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .plan .btn--block {
    font-size: 1.8rem;
  }
}

/*Features*/

.feature {
  display: grid;
  align-items: center;
}

.feature__text {
  margin-bottom: 3.1rem;
}

.feature__image > img {
  width: 70%;
  height: auto;
}

.feature__image {
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
  }

  .feature__image {
    text-align: center;
    margin-bottom: 0;
  }

  .feature__image > img {
    width: 90%;
  }
}

/*contact-us*/

.contact-us {
  display: grid;
}

.contact-us__map {
  display: none;
}

@media screen and (min-width: 1400px) {
  .contact-us {
    grid-template-areas:
      "form address"
      "form map"
      "form icons";
    grid-template-columns: 30fr 70fr;
  }

  .contact-us__form {
    grid-area: form;
  }

  .contact-us__map {
    grid-area: map;
    display: block;
  }

  .contact-us__icons {
    grid-area: address;
  }

  .contact-us__social {
    grid-area: icons;
  }
}

/*Icons*/

.icon {
  width: 24px;
  height: 24px;
}

.icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 100%;
  cursor: pointer;
}

.contact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-us__icons .icon-holder {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.icon-holder__label {
  margin-left: 1.5rem;
  display: block;
}

@media screen and (min-width: 1024px) {
  .contact-us__icons {
    flex-direction: row;
    justify-content: space-around;
  }
  .contact-us__icons .icon-holder {
    flex-direction: column;
    margin: 1rem 1rem;
  }

  .icon-holder__label {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
}
/* Social Media */

.contact-us__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .contact-us__social {
    justify-content: center;
    margin-bottom: 0rem;
  }

  .contact-us__social .icon-container {
    margin-left: 3rem;
  }
}
.contact-us__map img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.form-wrapper {
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgb(0, 0, 0, 0.2);
  padding: 1rem 2rem;
}

.form-wrapper h3 {
  margin: 2rem 0;
  text-align: center;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  height: 70%;
}

input,
textarea {
  display: block;
  outline: 0;
  border: 0;
  resize: none;
  margin-bottom: 1rem;
}

.form-wrapper input,
.form-wrapper textarea {
  border-radius: 39px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 1rem 1.5rem;
  font-family: "M PLUS 1p";
}

::placeholder {
  font-size: 1.2rem;
}

.form-wrapper textarea {
  border-radius: 20px;
}

.form-wrapper input:focus,
.form-wrapper textarea:focus {
  border: 1px solid var(--color-primary);
}

@media screen and (min-width: 1400px) {
  .contact-us__form {
    margin-right: 3rem;
  }
}

/* Footer */

.main-footer {
  background-color: black;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  margin-left: 3rem;
  gap: 1.6rem 3.6rem;
}

.footer__item {
  margin-bottom: 2.5rem;
}
.footer__item a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 3.5rem;
  display: block;
}

.footer__item h6 {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}

.footer__item a img {
  height: 38px;
  width: 128px;
}

.footer__item.download {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 270px;
}
