<section class="feature container">
  <div class="feature__image">
    <img src="./assets/images/i-mac-1.png" alt="" />
  </div>
  <div class="feature__details">
    <h2 class="feature__title">leCab Business Solutions</h2>
    <p class="feature__text">
      leCab's Corporate Panel is a web-based system that allows businesses and
      organizations to easily request an unlimited number of cars and couriers
      simultaneously. Using it, you can easily manage your urban missions and
      delivery of goods.
    </p>
    <button class="btn btn--primary">Login for Organizations</button>
  </div>
  <div class="feature__image">
    <img src="./assets/images/i-mac-1.png" alt="" />
  </div>
  <div class="feature__details">
    <h2 class="feature__title">Buy leCab gift card</h2>
    <p class="feature__text">
      The leCab Credit Code allows users, businesses, and organizations to enjoy
      discounts on leCab rides equivalent to the purchased credit amount. In
      just a few minutes, you can obtain this code and share it with your
      employees and customers.
    </p>
    <button class="btn btn--primary">Buy leCab gift card</button>
  </div>
</section>
