<section class="feature container">
  <div class="feature__image">
    <img src="./assets/images/i-mac-1.png" alt="" />
  </div>
  <div class="feature__details">
    <h2 class="feature__title">Lorem ipsum dolor sit amet.</h2>
    <p class="feature__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam reiciendis
      corrupti iusto officia in aliquid asperiores commodi, ad aspernatur?
      Perspiciatis?
    </p>
    <button class="btn btn--primary">Login for Organizations</button>
  </div>
</section>
