<div class="footer-container">
  <div class="footer__item">
    <h6>Company</h6>
    <a href="#">About us</a>
    <a href="#">Our offerings</a>
    <a href="#">Newsroom</a>
    <a href="#">Inverstors</a>
    <a href="#">Blog</a>
    <a href="#">Careers</a>
  </div>
  <div class="footer__item">
    <h6>Products</h6>
    <a href="#">Ride</a>
    <a href="#">Drive</a>
    <a href="#">Deliver</a>
    <a href="#">Eat</a>
    <a href="#">Taxi for Business</a>
    <a href="#">Gift cards</a>
  </div>
  <div class="footer__item">
    <h6>Global citizenship</h6>
    <a href="#">Safety</a>
    <a href="#">Diversity and Inclusion</a>
    <a href="#">Sustainability</a>
  </div>
  <div class="footer__item">
    <h6>Travel</h6>
    <a href="#">Reserve</a>
    <a href="#">Cities</a>
  </div>
  <div class="footer__item download">
    <a href="#">
      <div class="footer__download">
        <img src="/assets/images/appstore.svg" />
      </div>
    </a>
    <a href="#">
      <div class="footer__download">
        <img src="/assets/images/googleplay.svg" />
      </div>
    </a>
  </div>
</div>
