<section class="hero-section">
  <picture>
    <source
      srcset="/assets/images/banner-mobile.jpg"
      type="image/jpg"
      media="(max-width: 768px)"
    />
    <source
      srcset="/assets/images/banner.jpg"
      type="image/jpg"
      media="(min-width: 768px)"
    />
    <img src="/assets/images/banner-mobile.jpg" alt="banner" />
  </picture>

  <div class="hero-wrapper">
    <div class="intro-btn">
      <h1>leCab</h1>
      <h2>Request rides and delivery services</h2>
      <div class="intro-wrapper">
        <a href="#" class="intro-btn__passenger btn--white">
          <span><i class="fa-solid fa-download"></i></span>
          <p>Passengers app</p>
        </a>
        <a href="#" class="intro-btn__passenger btn--white">
          <span><i class="fa-solid fa-code"></i></span>
          <p>Passenger Web App</p>
        </a>
        <a href="#" class="intro-btn__passenger btn--transparent">
          <span><i class="fa-solid fa-download"></i></span>
          <p>Drivers app</p>
        </a>
        <a href="#" class="intro-btn__passenger btn--transparent">
          <span><i class="fa-solid fa-car"></i></span>
          <p>Driver Signup</p>
        </a>
      </div>
    </div>
  </div>
</section>
