<div class="block_plan container">
  <div class="plan">
    <div class="card">
      <header class="card__header">
        <span class="plan__intro"
          ><span class="plan__name">Economy</span>
          <span class="badge">10% OFF</span>
        </span>
        <span class="plan__price">100 Euros</span>
        <span class="plan__billing-cycle">(Monthly)</span>
        <span class="plan__description">Classic Taxi Service</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">Item 1</li>
          <li class="list__item">Item 2</li>
          <li class="list__item">Item 3</li>
        </ul>
        <button class="btn btn--primary btn--block">Book Service</button>
      </div>
    </div>
  </div>
  <div class="plan">
    <div class="card">
      <header class="card__header">
        <span class="plan__intro"
          ><span class="plan__name">Business</span>
          <span class="badge">15% OFF</span>
        </span>
        <span class="plan__price">300 Euros</span>
        <span class="plan__billing-cycle">(Monthly)</span>
        <span class="plan__description">Classic Taxi Service</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">Item 1</li>
          <li class="list__item">Item 2</li>
          <li class="list__item">Item 3</li>
        </ul>
        <button class="btn btn--primary btn--block">Book Service</button>
      </div>
    </div>
  </div>
  <div class="plan">
    <div class="card">
      <header class="card__header">
        <span class="plan__intro"
          ><span class="plan__name">V.I.P</span>
          <span class="badge">10% OFF</span>
        </span>
        <span class="plan__price">1000 Euros</span>
        <span class="plan__billing-cycle">(Monthly)</span>
        <span class="plan__description">Classic Taxi Service</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">Item 1</li>
          <li class="list__item">Item 2</li>
          <li class="list__item">Item 3</li>
        </ul>
        <button class="btn btn--primary btn--block">Book Service</button>
      </div>
    </div>
  </div>
</div>
