<section class="services container block">
  <h2 class="services__title">leCab Services</h2>
  <div class="services__tabs">
    <a class="tab active" data-tab-target="nav-classic-tab">
      <img src="/assets/images/cc-classic.png" alt="classic-icon" />
      <p>leCab Classic</p>
    </a>
    <a class="tab" data-tab-target="nav-motopeyk-tab">
      <img src="/assets/images/cc-motopeyk.png" alt="motopeyk-icon" />
      <p>MotoCourier</p>
    </a>
    <a class="tab" data-tab-target="nav-autopeyk-tab">
      <img src="/assets/images/cc-autopeyk.png" alt="autopeyk-icon" />
      <p>AutoCourier</p>
    </a>
    <a class="tab" data-tab-target="nav-plus-tab">
      <img src="/assets/images/cc-plus.png" alt="plus-icon" />
      <p>leCab Plus</p>
    </a>
    <a class="tab" data-tab-target="nav-tel-tab">
      <img src="/assets/images/cc-tel.png" alt="tel-icon" />
      <p>CallCab</p>
    </a>
    <a class="tab" data-tab-target="nav-hamkhat-tab">
      <img src="/assets/images/cc-hamkhat.png" alt="hamkhat-icon" />
      <p>LineCab</p>
    </a>
    <a class="tab" data-tab-target="nav-taxi-tab">
      <img src="/assets/images/cc-taxi.png" alt="taxi-icon" />
      <p>Taxi</p>
    </a>
    <a class="tab" data-tab-target="nav-line-tab">
      <img src="/assets/images/cc-line.png" alt="line-icon" />
      <p>ShareCab</p>
    </a>
  </div>
  <div class="container">
    <div class="tab-content active" id="nav-classic-tab">
      <div class="feature__image">
        <img src="/assets/images/illus-classic.webp" alt="" />
      </div>
      <div class="feature__detail">
        <h3 class="feature__title">leCab Classic</h3>
        <p class="feature__text">
          With leCab Classic service, you have a dedicated car to reach your
          destination. leCab Classic offers a fast and easy way for inner-city
          trips at any time of the day. In this service, you also have the
          option to set two or more destinations and make stops along the way.
        </p>
      </div>
    </div>
    <div class="tab-content" id="nav-motopeyk-tab">
      <div class="feature__image">
        <img src="/assets/images/illus-motopeyk.webp" alt="" />
      </div>
      <div class="feature__detail">
        <h3 class="feature__title">MotoCourier</h3>
        <p class="feature__text">
          With the MotoCourier service, your packages and parcels are delivered
          to their destination by motorbike couriers. This service is ideal when
          you want your shipment to reach its destination faster. You can also
          track the parcel's route to its destination in real-time on the map.
        </p>
      </div>
    </div>
    <div class="tab-content" id="nav-autopeyk-tab">
      <div class="feature__image">
        <img src="/assets/images/illus-autopeyk.webp" alt="" />
      </div>
      <div class="feature__detail">
        <h3 class="feature__title">AutoCourier</h3>
        <p class="feature__text">
          AutoCourier is a service for delivering your packages by car. This
          service is suitable when your packages cannot be delivered by
          motorbike or require extra care during transportation. With this
          service, you can also track the real-time location of your package
          until it reaches its destination.
        </p>
      </div>
    </div>
    <div class="tab-content" id="nav-plus-tab">
      <div class="feature__image">
        <img src="/assets/images/illus-plus.webp" alt="" />
      </div>
      <div class="feature__detail">
        <h3 class="feature__title">leCab Plus</h3>
        <p class="feature__text">
          In leCab Plus service, a higher-end and newer model car will pick you
          up. Additionally, the drivers of this service have received the
          highest ratings from passengers. This service, also allows you to set
          multiple destinations or make stops during your trip.
        </p>
      </div>
    </div>
    <div class="tab-content" id="nav-tel-tab">
      <div class="feature__image">
        <img src="/assets/images/illus-tel.webp" alt="" />
      </div>
      <div class="feature__detail">
        <h3 class="feature__title">CallCab</h3>
        <p class="feature__text">
          The CallCab Phone Service, or 1630, allows you to request a car
          without needing internet or the app. This phone-based taxi service is
          ideal for times when you don't have access to the internet or the app.
          It is also a convenient solution for individuals who find using mobile
          apps challenging.
        </p>
      </div>
    </div>

    <div class="tab-content" id="nav-hamkhat-tab">
      <div class="feature__image">
        <img src="/assets/images/illus-hamkhat.webp" alt="" />
      </div>
      <div class="feature__detail">
        <h3 class="feature__title">LineCab</h3>
        <p class="feature__text">
          The leCab's LineCab service uses minibuses to take you to your
          destination. With this service, you can select your travel route,
          purchase your ticket, and reach your destination faster and more
          comfortably. LineCab is significantly cheaper than other leCab
          services and provides a quicker and more convenient alternative to
          public transportation. You can also reserve your ticket in advance and
          travel while maintaining social distancing.
        </p>
      </div>
    </div>
    <div class="tab-content" id="nav-taxi-tab">
      <div class="feature__image">
        <img src="/assets/images/illus-taxi.webp" alt="" />
      </div>
      <div class="feature__detail">
        <h3 class="feature__title">Taxi</h3>
        <p class="feature__text">
          In leCab's Taxi service, yellow taxis take you to your destination.
          This service is a suitable option if you prefer using a taxi,
          especially for reasons such as entering traffic restriction zones or
          air pollution control areas.
        </p>
      </div>
    </div>
    <div class="tab-content" id="nav-line-tab">
      <div class="feature__image">
        <img src="/assets/images/illus-line.webp" alt="" />
      </div>
      <div class="feature__detail">
        <h3 class="feature__title">LineCab</h3>
        <p class="feature__text">
          LineCab is a service that allows for shared rides. In this service,
          you travel with another passenger who shares a similar route, and the
          trip cost is split between you.
        </p>
      </div>
    </div>
  </div>
</section>
