<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <title>Travel</title>
  </head>
  <body>
    <header></header>
    <main>
      <div class="container travel block">
        <h2>Exclusive for members</h2>
        <div class="travel__slides">
          <div class="travel__slide">
            <div class="slide__image">
              <img src="/assets/images/travel-1.png" alt="" />
            </div>
            <div class="slide_detail">
              <div class="slide__header">
                <div class="badge badge--primary">Exclusive</div>
                <p>3-Day trip</p>
              </div>
              <p class="slide__title">Into the desert’s soul</p>
              <div class="slide__icons">
                <img src="/assets/images/heart.svg" alt="" />
                <span>12</span>
                <img src="/assets/images/eye-sharp.svg" alt="" />
                <span>23</span>
              </div>
            </div>
          </div>
          <div class="travel__slide">
            <div class="slide__image">
              <img src="/assets/images/travel-2.jpg" alt="" />
            </div>
            <div class="slide_detail">
              <div class="slide__header">
                <div class="badge badge--primary">Exclusive</div>
                <p>3-Day trip</p>
              </div>
              <p class="slide__title">Into the jungle's depths</p>
              <div class="slide__icons">
                <img src="/assets/images/heart.svg" alt="" />
                <span>21</span>
                <img src="/assets/images/eye-sharp.svg" alt="" />
                <span>28</span>
              </div>
            </div>
          </div>
          <div class="travel__slide">
            <div class="slide__image">
              <img src="/assets/images/travel-3.jpg" alt="" />
            </div>
            <div class="slide_detail">
              <div class="slide__header">
                <div class="badge badge--primary">Exclusive</div>
                <p>3-Day trip</p>
              </div>
              <p class="slide__title">Escape to the serene shores</p>
              <div class="slide__icons">
                <img src="/assets/images/heart.svg" alt="" />
                <span>17</span>
                <img src="/assets/images/eye-sharp.svg" alt="" />
                <span>24</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
